/* src/pages/About.css */
.title {
    font-size: 2.5rem;
    color: #FF7A00;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .paragraph {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .team {
    font-weight: bold;
    color: #F29C11;
  }
  